/__pycache__
/__pycache__
/models/__pycache__
/core/__pycache__
/__pycache__
/__pycache__
__pycache__/config.cpython-313.pyc
/__pycache__
/__pycache__
Vetallis_mobile/vetallis_mobile/package.json
Vetallis_mobile/vetallis_mobile/package-lock.json
Vetallis_mobile/vetallis_mobile/package.json
Vetallis_mobile/vetallis_mobile/src/services/api.js
Vetallis_mobile/vetallis_mobile/package-lock.json
