{% extends 'base.html'%}
{% block conteudo%}

<div class="d-flex justify-content-start mt-0">
    <a href="{{url_for('lista_compra')}}" class="bi bi-arrow-bar-left texto-a">Voltar</a>
</div>
<h3 class="mb-4 mt-3 text-start titulo-h3">Adicionar item à
    lista de compras</h3> <!-- Mostra um tírulo na tela apresentando a função dela -->


<form method="POST" action="{{ url_for('salvar_lista_compra') }}"> <!-- Todo o html fica dentro de um form para o usuário preencher e adicionar o item -->
    <div class="mt-4 h-100">

        <div class="row gx-3 mb-4"> <!-- Div que divide o nome do item e seu preço unitário -->
            <div class="col-6">
                <label for="nome_produto" class="text-light text-start d-block">Nome do item:</label>
                <input type="text" id="nome_produto" name="nome_produto" placeholder="Digite o nome do item:" class="form-control borda-none" required>
            </div>
            <div class="col-6">
                <label for="custo_compra" class="text-light text-start d-block">Preço unitário:</label>
                <input type="text" id="custo_compra" name="custo_compra" placeholder="Digite o preço unitário:" class="form-control borda-none" required>
            </div>
        </div>

        <!-- Div que divide a quantidade + Botão para dar um submit nas informações inseridas -->
        <div class="row gx-3 mb-4">
            <div class="col-6">
                <label for="quantidade" class="text-light text-start d-block">Quantidade:</label>
                <input type="text" id="quantidade" name="quantidade" placeholder="Digite a quantidade:" class="form-control borda-none" required>
            </div>
            <div class="col-6">
                <label class="text-light text-start d-block invisible">Salvar</label>
                <button class="btn w-100 text-white background-verde-medio border-radius-menor" type="submit">Salvar</button>
            </div>
        </div>

    </div>
</form>


{% endblock %}