{%extends 'base.html'%}
{%block conteudo%}

<!--Tela de listagem de animais cadastrados-->


<!--Título da tela e botão de cadastrar novos animais-->
<div class="d-flex">
    <h3 class="text-start titulo-h3" id="titulo-animal-cadastrado">Animais</h3>
    <div class="div-com-csv d-flex justify-content-end ">
        <a class="btn titulo-animal ms-4 w-100 texto-a d-flex justify-content-center background-verde-medio background-verde-medio border-radius-menor"
            type="submit" href="{{url_for('novo_animal')}}">Adicionar
            Animal</a>
    </div>
</div>


<!--Tabela para a listagem -->
<div class="table-responsive mt-5">
    <table class="table">
        <tr> <!--Colunas de dados-->
            <th class="texto-p fw-bold">Identificação</th>
            <th class="texto-p fw-bold">Espécie</th>
            <th class="texto-p fw-bold ">Sexo</th>
            <th class="texto-p fw-bold">Raça</th>
            <th class="texto-p  fw-bold">Idade</th>
            <th class="texto-p fw-bold">Ações</th>

        </tr>
        {% for animal in animais %} <!--For para pegar listar todos os animais cadastrados-->
        <tr>
            <!--Dados serão mostrados na tela-->
            <td class="texto-p px-0">{{ animal.animal_identificacao or animal['animal_identificacao'] }}</td>
            <td class="texto-p ">{{ animal.animal_especie or animal['animal_especie'] }}</td>
            <td class="texto-p">{{ animal.animal_sexo or animal['animal_sexo'] }}</td>
            <td class="texto-p">{{ animal.animal_raca or animal['animal_raca'] }}</td>
            <td class="texto-p">{{ animal.animal_idade or animal['animal_idade'] }}</td>
            <td class="texto-p">
                <!--Botão de excluir animais-->
                <a title="Botão de excluir animal" class="btn btn-sm btn-link text-danger fs-5 p-0" 
                    href="{{url_for('excluir_animal', animal_id=animal.animal_id)}}">
                    <i class="bi bi-trash"></i>
                </a>
                <!--Botão de redirecionamento para a tela de ver detalhes-->
                <a role="img" aria-label="Botão ver detalhes do pedido de entrada"
                    href="{{url_for('informacao_animal', animal_id=animal.animal_id)}}"
                    class="bi bi-arrow-bar-right text-white texto-a "></a>
            </td>

            {% endfor %}
    </table>
</div>


{%endblock%}