<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vetallis</title>
    <link rel="stylesheet" href="/static/style.css">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Ícones -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!-- Fonte moderna -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <!-- Nav para trocar formulários-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <!-- topbar -->
    <header>
        <section class="topbar">
            <div class="topbar-logo">
                <img src="/static/imagens/vetalis_branca_sem_fundo.png" alt="Vetalis Logo">
                <span class="topbar-brand" id="nome">Hello, </span>
            </div>

            <div class="topbar-search">
                <i class="bi bi-search"></i>
                <form action="{{ url_for('pesquisa') }}" method="GET">
                    <input type="text" name="pesquisa" placeholder="Pesquisar...">
                </form>
            </div>

            <div class="topbar-actions" style="text-decoration: none;">
                <a class="topbar-btn" href="{{ url_for('novo_produto') }}">
                    <i class="bi bi-plus-circle"></i> ADD Produtos
                </a>
                {%if session.get('usuario_cargo') == 'adm' %}
                <a title="Funcionarios" class="topbar-btn topbar-btn-icon text-white" href="{{ url_for('novo_usuario')}}">
                    <i class="bi bi-person"></i>
                </a>
                {% endif %}
                <a id="link-perfil" class="topbar-btn topbar-btn-icon text-white" title="Configurações" >
                    <i class="bi bi-gear"></i>
                </a>
                <a href="{{ url_for('logout') }}" class="topbar-btn topbar-btn-icon text-white" title="Sair">
                    <i class="bi bi-box-arrow-right"></i>
                </a>
            </div>
        </section>
    </header>

    <!-- Sidebar -->
    <aside class="sidebar">
        <nav class="sidebar-nav gap-2" style="margin-top: -15px;">
            <div class="text-center ">
                <a href="{{ url_for('inicial') }}"
                    class="sidebar-link active d-flex flex-column align-items-center justify-content-center"
                    title="Início" style="text-decoration: none; ">
                    <i class="bi bi-house fs-7 mt-1"></i>
                    <h6 style="font-size: 65%;">Home</h6>
                </a>
            </div>
            <div class="text-center">
                <a class="sidebar-link d-flex  flex-column align-items-center justify-content-center " title="Produtos"
                    href="{{url_for('produtos')}}" style="text-decoration: none;">
                    <i class="bi bi-capsule fs-7 mt-1"></i>
                    <h6 style="font-size: 65%; text-align: center;">Produto</h6>
                </a>
            </div>

            <div class="text-center">
                <a href="{{url_for('animal')}}" class="sidebar-link d-flex flex-column " title="Animal"
                    style="text-decoration: none;">
                    <i class="bi bi-feather fs-7 mt-1"></i>
                    <h6 style="font-size: 65%;">Animais</h6>
                </a>
            </div>

            <div class="text-center">
                <a href="{{url_for('sensor')}}" class="sidebar-link d-flex flex-column" title="Sensor"
                    style="text-decoration: none;">
                    <i class="bi bi-radar fs-7 mt-1"></i>
                    <h6 style="font-size: 65%;">Sensor</h6>
                </a>
            </div>

            <div class="text-center">
                <a href="{{url_for('fornecedor_novo')}}" class="sidebar-link d-flex flex-column" title="Fornecedor"
                    style="text-decoration: none;">
                    <i class="bi bi-shop-window fs-7 mt-1"></i>
                    <h6 style="font-size: 65%;">Fornecedor</h6>
                </a>
            </div>

            <div class="text-center">
                <a href="{{url_for('pedido')}}" class="sidebar-link d-flex flex-column" title="Pedidos"
                    style="text-decoration: none;">
                    <i class="bi bi-box2 fs-7 mt-1"></i>
                    <h6 style="font-size: 65%;">Pedido</h6>
                </a>
            </div>

            <div class="text-center">
                <a href="{{url_for('lista_compra')}}" class="sidebar-link d-flex flex-column" title="Lista de compra"
                    style="text-decoration: none;">
                    <i class="bi bi-cart3 fs-7 mt-1"></i>
                    <h6 style="font-size: 65%;">Compra</h6>
                </a>
            </div>

            <div class="text-center">
                <a href="{{url_for('relatorio')}}" class="sidebar-link d-flex flex-column" title="Relatórios"
                    style="text-decoration: none;">
                    <i class="bi bi-graph-up fs-7 mt-1"></i>
                    <h6 style="font-size: 65%;">Relatório</h6>
                </a>
            </div>


        </nav>
    </aside>
    <main class="d-flex justify-content-center align-items-center" style=" padding: 100px 5px 40px 120px;">
        <div class="login-card text-center me-4" style="max-width: 1400px; width: 100%; min-height: 575px !important;">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for categoria, mensagem in messages %}
            <div class="alert alert-primary alert-{{categoria}} alert-dismissible fade show border border-{{categoria}}-subtle border-2"
                role="alert">
                <i class="bi bi-info-circle-fill"></i>
                <strong>{{ mensagem }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            {% block conteudo %} {% endblock %}
        </div>
    </main>
    <script>

        // 1. PRIMEIRO: Salvamos os dados do Flask no localStorage.
        // Assim garantimos que ele nunca estará vazio quando formos ler logo abaixo.
        localStorage.setItem("usuario", JSON.stringify({
            id: "{{ session.get('usuario_id') }}",
            nome: "{{ session.get('usuario_nome') }}",
            cargo: "{{ session.get('usuario_cargo') }}"
        }));

        // 2. SEGUNDO: Lemos a informação atualizada
        const usuario = JSON.parse(localStorage.getItem("usuario"));

        // 3. TERCEIRO: Atualizamos a tela, sempre checando se o elemento existe (evita quebrar o código)
        if (usuario) {
            const elementoNome = document.getElementById("nome");
            if (elementoNome) {
                elementoNome.innerText = `Bem vindo, ${usuario.nome}`;
            }

            const linkPerfil = document.getElementById("link-perfil");
            if (linkPerfil) {
                linkPerfil.href = `/gerenciar_perfil/${usuario.id}`;
            }

            const inputId = document.getElementById("input-id");
            if (inputId) {
                inputId.value = usuario.id;
            }
        }

    </script>
</body>