{% extends 'base.html'%}
{% block conteudo%}

<h3 class="mb-4 text-start" style="color: white; padding:5px; border-bottom:solid 1px #fff;">Cadastro de Produto</h3>

<form method="POST" action="{{url_for('salvar_produto')}}" enctype="multipart/form-data" class="form-sensor">
    <div class="cadastro-sensor mt-4">
        <div class="d-flex justify-content-start mb-3 ms-3">
            <div class="upload-imagem me-5 ">
                <label for="imagem_produto" class="upload-box"
                    style="margin-left: 0 !important; cursor: pointer; overflow: hidden; position: relative; width: 250px; height: 400px; display: flex; align-items: center; justify-content: center;">
                    <img id="preview_imagem" src="" alt=""
                        style="display:none; width:250px; height:400px; object-fit:cover; border-radius:10px; position:absolute; top:0; left:0;">
                    <span id="texto_upload" class="text-white" style="text-align:center; z-index:1;">Clique para
                        adicionar imagem</span>
                    <div id="icone_trocar"
                        style="display:none; position:absolute; bottom:8px; right:8px; background:rgba(0,0,0,0.5); border-radius:50%; width:32px; height:32px; display:none; align-items:center; justify-content:center; z-index:2;">
                        <i class="bi bi-pencil text-white  " style="font-size:14px;"></i>
                    </div>
                </label>

                <input type="file" id="imagem_produto" name="imagem" accept="image/*" class="d-none">
                <input type="hidden" id="usuario_id" name="usuario_usuario_id" value="">
            </div>

            <div class="divisao-form" style="width: 100%;">
                <div class="mb-5 text-start">
                    <div class="input-group">
                        <input type="name" name="nome" class="form-control" placeholder="Nome:" required>
                    </div>
                </div>
                <div class="mb-5 text-start">
                    <div>
                        <textarea name="descricao" placeholder="Descrição" class="form-control"
                            style="height: 230px; resize: vertical; "></textarea>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="mb-2  me-4 text-start" style="max-width: 500px; width: 100%;">
                         <select name="categoria" class="form-select" name="categoria">
                                <option value=""> Selecione uma categoria</option>
                                <option value="Vacina" style="color: black;"><p>Vacina</p></option>
                                <option value="Antiparasitários" style="color: black;"><p>Antiparasitários</p></option>
                                <option value="Antibioticos" style="color: black;"><p>Antibioticos</p></option>
                                <option value="Anti-inflamatórios" style="color: black;"><p>Anti-inflamatórios</p></option>
                                <option value="Analgésicos" style="color: black;"><p>Analgésicos</p></option>
                                <option value="Anestésicos" style="color: black;"><p>Anestésicos</p></option>
                        
                            </select>
                    </div>
                    <div class="justify-content-center" style="max-width: 500px !important; width: 100%;">
                        <button class="btn btn-login w-100 text-white  "
                            style="background: #03c356; border-radius: 25px;" type="submit">Cadastrar</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
    </div>
</form>
<script>
    localStorage.setItem("usuario", JSON.stringify({
        id: "{{ session.get('usuario_id')}}",
        nome: "{{ session.get('usuario_nome')}}"
    }))

    document.getElementById("imagem_produto").addEventListener("change", function () {
        const arquivo = this.files[0];

        if (arquivo) {
            const reader = new FileReader();

            reader.onload = function (e) {
                const preview = document.getElementById("preview_imagem");
                const texto = document.getElementById("texto_upload");
                const icone = document.getElementById("icone_trocar");

                preview.src = e.target.result;
                preview.style.display = "block";
                texto.style.display = "none";
                icone.style.display = "flex";
            };

            reader.readAsDataURL(arquivo);
        }
    });
</script>
{% endblock%}