{% extends 'base.html'%}
{% block conteudo%}
<!--Tela para cadastro de novos produtos-->

<!--Botão de volatar para a tela de listagem de produtos-->
<div class="d-flex justify-content-start">
   <a href="{{url_for('produtos')}}" class="bi bi-arrow-bar-left texto-a mb-3">Voltar</a>
</div>

<!--Título da tela-->
<h3 class="mb-4 text-start titulo-h3">Cadastro de Produto</h3>

<!--Formulário--> 
<form method="POST" action="{{url_for('salvar_produto')}}" enctype="multipart/form-data" class="form-sensor gap-4">
    <div class="mt-4 ">
        <div class="d-flex justify-content-start ">

            <!--Campo de adicionar imagem-->
            <div id="imagem_cadastro_produto" class="borda-dashed border-radius-menor position-relative d-flex w-25 me-4">
                <label for="imagem_produto"
                    class="upload-box w-100 h-100 d-flex align-items-center justify-content-center">
                    <img id="preview_imagem" src="" alt="" class="uploaded-image position-absolute top-0 start-0">

                    <span id="texto_upload" class="text-white z-index-1 text-center p-3">
                        Clique para adicionar imagem
                    </span>

                    <div id="icone_trocar" class="position-absolute mudar-imagem-btn backgroud-glass">
                        <i class="bi bi-pencil text-white"></i>
                    </div>
                </label>

                <input type="file" id="imagem_produto" name="imagem" accept="image/*" class="d-none">
                <input type="hidden" id="usuario_id" name="usuario_usuario_id" value="">
            </div>

            <!--Outros campos-->
            <div class="divisao-form w-100">
                <div class="mb-3 text-start">
                    <label class="texto-a mb-1 d-block">Nome do produto:</label>
                    <div class="input-group">
                        <input type="name" name="nome" class="form-control" placeholder="Digite o nome do produto" required>
                    </div>
                </div>
                <div class="mb-3 text-start">
                    <label class="texto-a mb-1 d-block">Descrição do produto:</label>
                    <div>
                        <textarea name="descricao" placeholder="Digite uma descrição para o produto"
                            class="form-control textarea-tamanho" required></textarea>
                    </div>
                </div>
                <div class="d-flex gap-3">
                    <div class="text-start w-100">
                        <label class="texto-a mb-1 d-block">Categorias de produto:</label>
                        <select class="form-select" name="categoria">
                            <option value=""> Selecione uma categoria</option>
                            <option value="Vacina">
                                Vacina
                            </option>
                            <option value="Antiparasitários">
                                Antiparasitários
                            </option>
                            <option value="Antibioticos">
                                Antibioticos
                            </option>
                            <option value="Anti-inflamatórios">
                                Anti-inflamatórios
                            </option>
                            <option value="Analgésicos">
                                Analgésicos
                            </option>
                            <option value="Anestésicos">
                                Anestésicos
                            </option>

                        </select>
                    </div>
                    
                    <!--Botão de enviar os dados para cadastro-->
                    <div class="justify-content-center w-100">
                        <button id="botao_cadastro_produto" class=" btn w-100 text-white background-verde-medio border-radius-menor"
                            type="submit">Cadastrar</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
    </div>
</form>
<script>
    //Criação do local storage salvando o id e o nome de usuário
    localStorage.setItem("usuario", JSON.stringify({
        id: "{{ session.get('usuario_id')}}",
        nome: "{{ session.get('usuario_nome')}}"
    }))

    // Manipulação da imagem para aparecer na tela quando selecionado
    document.getElementById("imagem_produto").addEventListener("change", function () {
        const arquivo = this.files[0];

        if (arquivo) {
            const reader = new FileReader();

            reader.onload = function (e) {
                const preview = document.getElementById("preview_imagem");
                const texto = document.getElementById("texto_upload");
                const icone = document.getElementById("icone_trocar");

                preview.src = e.target.result;
                preview.style.display = "block";
                texto.style.display = "none";
                icone.style.display = "flex";
            };

            reader.readAsDataURL(arquivo);
        }
    });
</script>
{% endblock%}