{% extends 'base.html'%}
{% block conteudo%}

<!-- Divs iniciais fora do form, contendo o titulo e um a que leva para uma outra tela-->
<div class="d-flex justify-content-start">
    <a href="{{url_for('fornecedor_novo')}}" class="bi bi-arrow-bar-left texto-a">Voltar</a>
</div>
<h3 class="mb-4 mt-3 text-start titulo-h3">Cadastro de Fornecedor</h3>

<!-- Form com o método POST já que é um formulário de cadastro de fornecedor, levando para a função que executa a rota do app.py -->
<form method="POST" action="{{ url_for('gravar_fornecedor') }}" class="form-sensor w-100">

        <!-- Três divs que auxiliam na divisão em blocos do formulário no design -->
    <div class="divisao-form d-flex w-100 gap-3 mb-3">
        <div class="text-start w-50">
            <div class="col-12">
                <label for="nome_fornecedor" class="text-light text-start d-block">Nome do Fornecedor:</label>
                <input type="text" name="fornecedor_nome" class="form-control" placeholder="Digite o nome do fornecedor:"
                    required>
            </div>
        </div>
        <div class="text-start w-50">
            <div class="col-12">
                <label for="tipo_produto" class="text-light text-start d-block">Tipo de Produto:</label>
                <input type="text" name="fornecedor_tipo_produtos" class="form-control" placeholder="Digite o tipo de produto:"
                    required>
            </div>
        </div>
    </div>

    <div class="divisao-form d-flex w-100 gap-3 mb-3">
        <div class="text-start w-50">
            <div class="col-12">
                <label for="pedido_minimo" class="text-light text-start d-block">Pedido Mínimo:</label>
                <input type="number" name="fornecedor_pedido_minimo" class="form-control" placeholder="Digite o pedido mínimo:"
                    required>
            </div>
        </div>
        <div class="text-start w-50">
            <div class="col-12">
                <label for="endereco_fornecedor" class="text-light text-start d-block">Endereço:</label>
                <input type="text" name="fornecedor_endereco" class="form-control" placeholder="Digite o endereço:" required>
            </div>
        </div>
    </div>

    <div class="divisao-form d-flex w-100 gap-3 mb-3">
        <div class="text-start w-50">
            <div class="col-12">
                <label for="cnpj_fornecedor" class="text-light text-start d-block">CNPJ:</label>
                <input type="text" name="fornecedor_cnpj" class="form-control" placeholder="Digite o CNPJ:" required>
            </div>
        </div>
        <div class="text-start w-50">
            <button class="btn btn-login text-white background-verde-medio border-radius-menor w-100 mt-4" type="submit">
                Cadastrar
            </button>
        </div>
    </div>

</form>

{% endblock %}