{% extends 'base.html'%}
{% block conteudo%}

<div class="d-flex justify-content-start">
    <a href="{{url_for('sensor')}}" class="bi bi-arrow-bar-left texto-a">Voltar</a> <!--Envia o usuário para a tela de sensores cadastrados-->
</div> 
<h3 class="text-start mt-4 mb-4 titulo-h3">
    Cadastro de Sensor
</h3>
<!--Tag semântica para formulário,, coleta as informações envia para a função para salvar sensor-->
<form method="POST" action="{{ url_for('salvar_sensor') }}" enctype="multipart/form-data" class="mt-4">
    <div class="d-flex gap-4">

        <!--INPUT específco (file) para adicionar uma imagem, com um escrito para evidenciar o que deve ser feito -->
        <div class="borda-dashed border-radius-menor position-relative d-flex w-25">
            <label for="imagem_produto"
                class="w-100 h-100 d-flex align-items-center justify-content-center cursor-pointer position-relative p-3">
                <img id="preview" src="" alt=""
                    class="upload-imagem position-absolute top-0 start-0 w-100 h-100 object-fit-cover"
                    style="display: none;">
                <span class="text-white text-center z-index-1" id="label_texto">
                    Clique para adicionar imagem
                </span>
            </label>
            <input type="file" id="imagem_produto" name="imagem_sensor"
                accept="image/png, image/jpeg, image/jpg, image/webp" class="d-none"> <!--INPUT específico para imagem-->
            <input type="hidden" name="usuario_usuario_id" value="">
        </div>
        <!--Div que divide os inputs e os organizam em coluna -->
        <div class=" flex-column justify-content-center w-100">
            <!--Div que vai organizar outras div contendo os inputs-->
            <div class="d-flex mb-2 gap-3 w-100">
                <div class="w-50"><!--Div que contem o input-->
                    <label for="tipo_produto" class="text-light text-start d-block">Nome do Sensor:</label> 
                    <input type="text" name="sensor_nome" class="form-control w-100" placeholder="Nome do sensor:"
                        required>
                </div>
                <div class="w-50">
                    <label for="tipo_produto" class="text-light text-start d-block">Tipo de conexão:</label>
                    <input type="text" name="sensor_tipo_conexao" class="form-control w-100"
                        placeholder="Tipo de conexão:" required>
                </div>
            </div>
            <div class="d-flex gap-3">
                <div class="w-100">
                    <div class="w-100">
                        <div class="d-flex flex-column gap-3 w-100 mb-2 ">
                            <label for="tipo_produto" class="text-light text-start d-block ">Descrição:</label>
                            <textarea name="sensor_descricao" class="form-control w-100 " placeholder="Descrição:"
                                style="height: 85px; resize: vertical;"></textarea>
                        </div>
                        <div class="w-100">
                            <label for="tipo_produto" class="text-light text-start d-block">Localização:</label>
                            <input type="text" name="sensor_localizacao" class="form-control W-100"
                                placeholder="Localização:" required>
                        </div>
                    </div>
                </div>
                <div class="w-100">
                    <div class="d-flex gap-2">
                        <div class="w-100 mb-2">
                            <label for="tipo_produto" class="text-light text-start d-block">Número de série:</label>
                            <input type="text" name="sensor_n_serie" class="form-control" placeholder="N° série:"
                                required>
                        </div>
                        <div class="w-100 mb-2">
                            <label for="tipo_produto" class="text-light text-start d-block">Voltagem:</label>
                            <input type="number" name="sensor_voltagem" class="form-control" placeholder="Voltagem:"
                                required>
                        </div>
                    </div>
                    <label for="tipo_produto" class="text-light text-start d-block">Modelo:</label>
                    <input type="text" name="sensor_modelo" class="form-control" placeholder="Modelo:" required>
                    <div class="w-100  mt-3">
                        <button type="submit"
                            class="btn w-100 text-white background-verde-medio border-radius-menor mt-2 ">Cadastrar</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</form>
<!--Após adicionar a imagem, a mesma vai aparecer no campo de imagem-->
<script>
    document.getElementById("imagem_produto").addEventListener("change", function () {
        const file = this.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                const preview = document.getElementById("preview");
                preview.src = e.target.result;
                preview.style.display = "block";
                document.getElementById("label_texto").style.display = "none";
            };
            reader.readAsDataURL(file);
        }
    });
</script>

{% endblock %}