{% extends 'base.html'%}
{% block conteudo%}

<!--Tela para editar dados de produtos-->

<!--Botão de voltar para tela de produtos cadastrados-->
<div class="d-flex justify-content-start">
    <a href="{{url_for('produtos')}}" class="bi bi-arrow-bar-left texto-a">Voltar</a>
</div>

<!--Título-->
<h3 class="mb-4 text-start titulo-h3 mt-4">Editar dados</h3>

<!--Formulário-->
<form method="POST" action="{{url_for('atualizar_produto', produto_id = produto['produto_id'])}}" class="form-sensor"
    enctype="multipart/form-data">
    <div class="cadastro-sensor ">
        <!--Campo de adicionar imagem-->
        <div class="d-flex justify-content-start mb-3 ms-3">

            <div class="upload-imagem me-5 mt-3 text-center" style="width: 250px;">
                <label for="imagem_produto"
                    class="ms-0 uploaded-image border-radius-menor align-items-center justify-content-center d-flex position-relative overflow-hidden"
                    style="max-height: 250px;">

                    {% if produto.imagem_base64 %}
                    <img role="img" aria-label="imagem do produto"
                        src="data:{{produto.imagem_tipo}};base64,{{produto.imagem_base64}}"
                        class="w-100 h-100 object-fit-cover position-absolute top-0 start-0">
                    {% else %}
                    <img role="img" aria-label="imagem do produto" src="/static/imagens/medicamento.jpg"
                        class="w-100 h-100" style="object-fit: cover; z-index:1;">
                    {% endif %}
                </label>
                <input type="file" id="imagem_produto" name="imagem" accept="image/*" class="d-none">
                <p class="mt-3 fw-bold text-decoration-underline texto-p">Clique na imagem para alterá-la</p>
            </div>

            <!--Outros campos-->
            <div class="divisao-form d-flex flex-column justify-content-center w-100">
                <div class="mb-3 text-start">
                    <div class="input-group">
                        <input type="name" name="nome" class="form-control  border-radius-menor"
                            value="{{produto.produto_nome}}" required>
                    </div>
                </div>
                <div class="mb-3 text-start">
                    <div>
                        <textarea name="descricao" placeholder="Descrição" class="form-control "
                            style="height: 150px; resize: vertical; ">{{produto.produto_descricao}}</textarea>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="mb-2 me-4 text-start w-100">
                        <div class="input-group">
                            <select class="form-select" name="categoria" required>
                                <option value="{{produto.produto_categoria}}">{{produto.produto_categoria}}</option>
                                <option value="Vacina">Vacina</option>
                                <option value="Antiparasitários">Antiparasitários</option>
                                <option value="Antibioticos">Antibioticos</option>
                                <option value="Anti-inflamatórios">Anti-inflamatórios</option>
                                <option value="Analgésicos">Analgésicos</option>
                                <option value="Anestésicos">Anestésicos</option>
                            </select>
                        </div>
                    </div>
                    
                    <!--Botão para salvar os dados atualizados-->
                    <div class="mb-2 w-100">
                        <button aria-label="Alterar produto"
                            class="btn w-100 texto-a background-verde-medio border-radius-menor"
                            type="submit">Alterar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</form>

<script>
    //Salvar novos itens no localstorage
    localStorage.setItem('usuario_nome', "{{ session.get('usuario_nome')}}")
    localStorage.setItem('usuario_id', "{{ session.get('usuario_id')}}")
    localStorage.setItem('usuario_cargo', "{{ session.get('usuario_cargo')}}")
</script>
{% endblock%}