{% extends 'base.html'%}
{% block conteudo%}

<div class="d-flex justify-content-start">
    <a href="{{url_for('produtos')}}" class="bi bi-arrow-bar-left texto-a">Voltar</a> <!--Retorna para a tela de produtos cadastrados-->
</div>


<h3 class="mb-4 text-start titulo-h3 mt-4">
    Informação de Produto
</h3>

<div class="d-flex flex-column flex-md-row justify-content-between align-items-center gap-4">
    <!--Div onde vai abrigar a imagem do produto-->
    <div class="upload-imagem me-4 mt-3">
        <label for="imagem_produto"
            class="ms-0 uploaded-image border-radius-menor align-items-center justify-content-center d-flex position-relative overflow-hidden"
            style="max-height: 250px;">
            {% if produto.imagem_base64 %} <!--Se uma imagem estiver cadastrada, ela aparece na tela-->
            <img role="img" aria-label="imagem do produto" src="data:{{produto.imagem_tipo}};base64,{{produto.imagem_base64}}"
                    class="w-100 h-100 object-fit-cover position-absolute top-0 start-0">
                {% else %}<!--Se não tiver a imagem, uma imagem padrão vai aparecer-->
                <img role="img" aria-label="imagem do produto" src="/static/imagens/medicamento.jpg" class="w-100 h-100" style="object-fit: cover; z-index:1;">
                {% endif %}
        </label>
    </div>

    <div class="mt-4 w-100">
        <!-- Mostra as informações que vão ser mostradas na tela , através da coleta realizada na rota do app.py 
        que vai retornar essas informações para essa tela-->
        <!-- Nome -->
        <div class="p-3 mb-3 border-radius-menor backgroud-glass">
            <label class="cinza-texto texto-maiusculo">Nome do produto</label>
            <label class="texto-p d-flex justify-content-center">{{produto.produto_nome}}</label>
        </div>

        <!-- Descrição -->
        <div class="p-3 mb-3 border-radius-menor backgroud-glass">
            <label class="cinza-texto texto-maiusculo">Descrição</label>
            <label class="texto-p d-flex justify-content-center">{{produto.produto_descricao}}</label>
        </div>

        <!-- Quantidade + Categoria -->
        <div class="row g-3 mb-3">
            <div class="col-6">
                <div class="p-3 mb-3 border-radius-menor backgroud-glass">
                    <label class="cinza-texto texto-maiusculo">Quantidade</label>
                    <label class="texto-p d-flex justify-content-center">{{produto.estoque_quantidade}}</label>
                </div>
            </div>
            <div class="col-6">
                <div class="p-3 mb-3 border-radius-menor backgroud-glass">
                    <label class="cinza-texto texto-maiusculo">Categoria</label>
                    <label class="texto-p d-flex justify-content-center">{{produto.produto_categoria}}</label>
                </div>
            </div>
        </div>


    </div>

</div>

{% endblock %}