{% extends 'base.html'%}
{% block conteudo%}
<!--Tela de informação de sensores-->


<!--Botão de volatar para a tela de listagem de sensores-->
<div class="d-flex justify-content-start">
    <a href="{{url_for('sensor')}}" class="bi bi-arrow-bar-left texto-a">Voltar</a>
</div>

<!--Título-->
<h3 class="mb-4 text-start titulo-h3 mt-4">
    Informação do Sensor
</h3>

<div class="d-flex flex-column flex-md-row justify-content-between align-items-center gap-4">

      <!-- COLUNA ESQUERDA: IMAGEM -->
        <div class="upload-imagem me-4 mt-3">
            <label for="imagem_sensor"
                class="ms-0 uploaded-image border-radius-menor align-items-center justify-content-center d-flex position-relative overflow-hidden"
                style="max-height: 250px;">
                {% if sensor.imagem_base64 %}
                <img role="img" aria-label="imagem do sensor" src="data:{{sensor.imagem_tipo}};base64,{{sensor.imagem_base64}}"
                    class="w-100 h-100 object-fit-cover position-absolute top-0 start-0">
                {% else %}
                <img role="img" aria-label="imagem do sensor" src="/static/imagens/medicamento.jpg" class="w-100 h-100" style="object-fit: cover; z-index:1;">
                {% endif %}
            </label>
            <input type="file" id="imagem_sensor" name="imagem" accept="image/*" class="d-none">
            <p class="mt-3 texto-p text-center">Clique na imagem para alterá-la</p>
        </div>

    <div class="mt-4 w-100">

        <!-- Nome -->
        <div class="p-3 mb-3 border-radius-menor backgroud-glass">
            <label class="cinza-texto texto-maiusculo">Nome
                do sensor</label>
            <label class="texto-p d-flex justify-content-center">{{sensor.sensor_nome}}</label>
        </div>

        <!-- Descrição -->
        <div class="p-3 mb-3 border-radius-menor backgroud-glass">
            <label class="cinza-texto texto-maiusculo">Descrição</label>
            <label class="texto-p d-flex justify-content-center">{{sensor.sensor_descricao}}</label>
        </div>

        <!-- Localização + Modelo -->
        <div class="row g-3 ">
            <div class="col-6">
                <div class="p-3 mb-3 border-radius-menor backgroud-glass">
                    <label class="cinza-texto texto-maiusculo">Localização</label>
                    <label class="texto-p d-flex justify-content-center">{{sensor.sensor_localizacao}}</label>
                </div>
            </div>
            <div class="col-6">
                <div class="p-3 mb-3 border-radius-menor backgroud-glass">
                    <label class="cinza-texto texto-maiusculo">Modelo</label>
                    <label class="texto-p d-flex justify-content-center">{{sensor.sensor_modelo}}</label>
                </div>
            </div>
        </div>

        <!-- N série + Voltagem + Conexão -->
        <div class="row g-3 mt-0">
            <div class="col-4">
                <div class="p-3 border-radius-menor backgroud-glass">
                    <label class="cinza-texto texto-maiusculo">N°
                        de série</label>
                    <label class="texto-p d-flex justify-content-center">{{sensor.sensor_n_serie}}</label>
                </div>
            </div>
            <div class="col-4">
                <div class="p-3 border-radius-menor backgroud-glass">
                    <label class="cinza-texto texto-maiusculo">Voltagem</label>
                    <label class="texto-p d-flex justify-content-center">{{sensor.sensor_voltagem}}</label>
                </div>
            </div>
            <div class="col-4">
                <div class="p-3 mb-3 border-radius-menor backgroud-glass">
                    <label class="cinza-texto texto-maiusculo">Tipo
                        de conexão</label>
                    <label class="texto-p d-flex justify-content-center">{{sensor.sensor_tipo_conexao}}</label>
                </div>
            </div>
        </div>

    </div>

</div>

{% endblock %}