{% extends 'base.html'%}
{% block conteudo%}

<div class="d-flex justify-content-start">
    <a href="{{url_for('animal')}}" class="bi bi-arrow-bar-left texto-a">Voltar</a> <!--Faz o usuário voltar para a tela de animais cadastrados-->
</div>


<h3 class="mb-4 text-start titulo-h3 mt-4">
    Informação do Animal
</h3>
<div class="mt-4 w-100">

    <!-- Nome - Busca o nome do animal e adiciona na tela, por meio da função do app.py que retorna essas informações -->
    <div class="p-3 mb-3 border-radius-menor backgroud-glass">
        <label class="cinza-texto texto-maiusculo">Idade</label>
        <label class="texto-p d-flex justify-content-center">{{animal.animal_idade}}</label>
    </div>

    <!-- Espécie - Busca a espécie do animal e mostra na tela -->
    <div class="p-3 mb-3 border-radius-menor backgroud-glass">
        <label class="cinza-texto texto-maiusculo">Espécie</label>
        <label class="texto-p d-flex justify-content-center">{{animal.animal_especie}}</label>
    </div>

    <!-- Sexo + Identificação - essa div organiza o sexo e a identificação -->
    <div class="row g-3">
        <div class="col-6">
            <div class="p-3 mb-3 border-radius-menor backgroud-glass">
                <label class="cinza-texto texto-maiusculo">Sexo</label>
                <label class="texto-p d-flex justify-content-center">{{animal.animal_sexo}}</label>
            </div>
        </div>
        <div class="col-6">
            <div class="p-3 mb-3 border-radius-menor backgroud-glass">
                <label class="cinza-texto texto-maiusculo">Identificação</label>
                <label class="texto-p d-flex justify-content-center">{{animal.animal_identificacao}}</label>
            </div>
        </div>
    </div>

    <!-- Peso + Observação - Mostra na tela as informações encontradas pelo função no app.py -->
    <div class="row g-3 mb-3">
        <div class="col-6">
            <div class="p-3 mb-3 border-radius-menor backgroud-glass">
                <label class="cinza-texto texto-maiusculo">Peso</label>
                <label class="texto-p d-flex justify-content-center">{{animal.animal_peso}}</label>
            </div>
        </div>
        <div class="col-6">
            <div class="p-3 mb-3 border-radius-menor backgroud-glass">
                <label class="cinza-texto texto-maiusculo">Observações veterinárias</label>
                <label class="texto-p d-flex justify-content-center">{{animal.animal_observacao}}</label>
            </div>
        </div>
    </div>


</div>

</div>

{% endblock %}