{% extends 'base.html'%}
{%block conteudo%}

<div class="d-flex justify-content-start">
    <a href="" class="bi bi-arrow-bar-left text-white" style="text-decoration: none;height: 40px;">Voltar</a>
</div>
<h3 class="text-start" style="color: white; padding:20px;padding-left: 0; border-bottom:solid 1px #fff; width: 1300px;">
    Pedidos</h3>
<ul class="nav nav-tabs mb-3" id="tipoPedido" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#entrada" type="button"
            style="color: black;" onclick="
                this.style.color='#074040';
                document.querySelector('[data-bs-target=\'#entrada\']').style.color='black';
            ">
            Entrada
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#saida" type="button" style="color: black;"
            onclick="
                this.style.color='#074040';
                document.querySelector('[data-bs-target=\'#saida\']').style.color='black';
            ">
            Saída
        </button>
    </li>
</ul>

<div style="padding: 20px; padding-left: 0;">
    <div class="tab-content">

        <!-- ABA ENTRADA -->
        <div class="tab-pane fade show active" id="entrada">
            <form method="POST" action="{{url_for('pedido_salvar')}}" style="width: 100%;">
                <input type="hidden" name="tipo_movimentacao" value="entrada">
                <input type="hidden" name="pedido_entrada_status" value="Concluido">
                <div class="me-3" style="width: 100%;">
                    <div class="d-flex" style="width: 100%;">

                        <div class="mb-4" style="max-width: 700px; width: 100%;">
                            <input type="text" name="pedido_entrada_nome" class="form-control" placeholder="Nome:">
                        </div>
                        <div class="mb-4 ms-4" style="max-width: 700px; width: 100%;">
                            <select name="fornecedor_fornecedor_id" class="form-select">
                                <option value=""> Selecione um fornecedor</option>
                                {% for f in fornecedor%}
                                <option value="{{ f.fornecedor_id }}" style="color: black;">{{ f.fornecedor_nome }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="mb-4" style="max-width: 635px;">
                        <input type="text" name="pedido_entrada_data" class="form-control" placeholder="Data:">
                    </div>
                </div>

                <div class="d-flex justify-content-between"
                    style="padding:20px;padding-left: 0; border-bottom:solid 1px #fff; width: 1300px;">
                    <h3 class="text-start" style="color: white;">Item do Pedido</h3>
                    <button type="button" class="btn btn-success btn-adicionar-item" data-template="templateItemEntrada"
                        data-corpo="corpoItensEntrada">
                        Adicionar Item
                    </button>
                </div>

                <div class="table-responsive mt-2">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-white text-center" style="width: 30%;">Produto</th>
                                <th class="text-white text-center" style="width: 25%;">Lote</th>
                                <th class="text-white text-center" style="width: 15%;">Quantidade</th>
                                <th class="text-white text-center" style="width: 15%;">Valor Unitário</th>
                                <th class="text-white text-center" style="width: 10%;">Data de validade</th>
                                <th class="text-white text-center" style="width: 5%;">Ação</th>
                            </tr>
                        </thead>
                        <tbody id="corpoItensEntrada"></tbody>
                        </tbody>
                    </table>
                </div>

                <template id="templateItemEntrada">
                    <tr>
                        <td>
                            <select name="item_pedido_entrada_nome" class="form-select" name="produto">
                                <option value=""> Selecione o produto</option>
                                {% for p in produtos%}
                                <option value="{{ p.produto_id }}, {{p.produto_nome}}" style="color: black;">{{ p.produto_nome }}
                                </option>
                                {% endfor %}
                            </select>
                        </td>
                        <td class="text-center">
                            <input type="text" name="item_pedido_entrada_lote"
                                class="bg-transparent text-white border-0 form w-100 text-center" placeholder="Lote">
                        </td>
                        <td class="text-center">
                            <input type="number" name="item_pedido_entrada_quantidade"
                                class="bg-transparent text-white border-0 form w-100 text-center" placeholder="0"
                                min="0.01" step="0.01">
                        </td>
                        <td class="text-center">
                            <input type="number" name="item_pedido_entrada_valor_unitario"
                                class="bg-transparent text-white border-0 form w-100 text-center" placeholder="0.00"
                                min="0" step="0.01">
                        </td>
                        <td class="text-center"><input type="text" name="item_pedido_entrada_validade"
                                class="bg-transparent text-white border-0 form w-100 text-center"></td>
                        <td class="text-center"><button type="button" class="btn btn-sm btn-danger"
                                onclick="removerLinha(this)">X</button></td>
                    </tr>
                </template>

                <div class="mt-3">
                    <button class="btn btn-login w-100 text-white ms-auto"
                        style="background: #03c356; border-radius: 15px; min-width: 400px; "
                        type="submit">Enviar</button>
                </div>
            </form>
        </div>

        <!-- ABA SAÍDA -->
        <div class="tab-pane fade" id="saida">
            <form method="POST" action="{{url_for('pedido_salvar')}}" style="width: 100%;">
                <input type="hidden" name="tipo_movimentacao" value="saida">
                <input type="hidden" name="pedido_saida_status" value="Concluido">

                <div class="me-3" style="width: 100%;">
                    <div class="d-flex" style="width: 100%;">
                        <div class="mb-4" style="max-width: 700px; width: 100%;">
                            <input type="text" name="pedido_saida_nome" class="form-control" placeholder="Nome:">
                        </div>
                        <div class="mb-4 ms-4" style="max-width: 700px; width: 100%;">
                            <select name="animal_animal_id" class="form-select">
                                <option value=""> Selecione um animal</option>
                                {% for f in animal%}
                                <option value="{{ f.animal_id }}" style="color: black;">{{ f.animal_identificacao }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="mb-4" style="max-width: 635px;">
                        <input type="text" name="pedido_saida_data" class="form-control" placeholder="Data:">
                    </div>
                </div>

                <div class="d-flex justify-content-between"
                    style="padding:20px;padding-left: 0; border-bottom:solid 1px #fff; width: 1300px;">
                    <h3 class="text-start" style="color: white;">Item do Pedido</h3>
                    <button type="button" class="btn btn-success btn-adicionar-item" data-template="templateItemSaida"
                        data-corpo="corpoItensSaida">
                        Adicionar Item
                    </button>
                </div>

                <div class="table-responsive mt-2">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-white text-center" style="width: 30%;">Produto</th>
                                <th class="text-white text-center" style="width: 25%;">Lote</th>
                                <th class="text-white text-center" style="width: 15%;">Quantidade</th>
                                <th class="text-white" style="width: 5%;" class="text-center">Ação</th>
                            </tr>
                        </thead>
                        <tbody id="corpoItensSaida">
                        </tbody>
                    </table>
                </div>

                <template id="templateItemSaida">
                    <tr>
                        <td>
                            <select name="item_pedido_saida_nome" class="form-select">
                                <option value=""> Selecione o produto</option>
                                {% for p in produtos%}
                                <option value="{{ p.produto_id }}" style="color: black;">{{ p.produto_nome }}
                                </option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <select name="item_pedido_saida_lote" class="form-select">
                                <option value=""> Selecione um lote</option>
                                {% for i in lote%}
                                    <option value="{{ i.item_pedido_entrada_id }}" style="color: black;">{{
                                        i.item_pedido_entrada_lote }}
                                    </option>
                                {% endfor %}
                            </select>
                        </td>
                        <td><input type="number" name="item_pedido_saida_quantidade"
                                class="bg-transparent text-white border-0 form w-100 text-center" placeholder="0"
                                min="0.01" step="0.01">
                        </td>
                        <td class="text-center">
                            <button type="button" class="btn btn-sm btn-danger" onclick="removerLinha(this)">X</button>
                        </td>
                    </tr>
                </template>
                <style>
                    .form::placeholder {
                        color: #fff;
                    }
                </style>

                <div class="mt-3">
                    <button class="btn btn-login w-100 text-white ms-auto"
                        style="background: #03c356; border-radius: 15px; min-width: 400px; "
                        type="submit">Enviar</button>
                </div>
            </form>
        </div>

    </div>
</div>
<script>
    function adicionarItem(templateId, corpoId) {
        const template = document.getElementById(templateId);
        const corpo = document.getElementById(corpoId);
        const novaLinha = template.content.cloneNode(true);
        corpo.appendChild(novaLinha);
    }

    function removerLinha(botao) {
        botao.closest("tr").remove();
    }

    document.addEventListener("DOMContentLoaded", function () {
        adicionarItem("templateItemEntrada", "corpoItensEntrada");
        adicionarItem("templateItemSaida", "corpoItensSaida");

        document.querySelectorAll(".btn-adicionar-item").forEach(function (botao) {
            botao.addEventListener("click", function () {
                const templateId = this.dataset.template;
                const corpoId = this.dataset.corpo;
                adicionarItem(templateId, corpoId);
            });
        });
    });

</script>
{%endblock%}