{% extends "base.html" %}

{% block conteudo %}
<h3 class="mb-4 text-start" style="color: white; padding:5px; border-bottom:solid 1px #fff;">
    Resultados para: {{ q }}
</h3>

<div class="d-flex flex-wrap" style="padding-left: 20px; gap: 20px;">
    {% if pesquisa_item %}
    {% for produto in pesquisa_item %}
    <div style="border-radius: 15px; background: rgba(255,255,255,0.15); padding: 10px; width: 250px;">

        <label for="imagem_produto" class="upload-box"
            style="display: block; width: 100%; max-height: 200px; margin-left: 0 !important; align-self: flex-start; z-index: 1000; overflow: hidden; border-radius: 10px;">

            <img src="data:{{ produto.imagem_tipo }};base64,{{ produto.imagem_base64 }}"
                style="width: 100%; height: 200px; object-fit: cover; border-radius: 10px;">

        </label>

        <div class="d-flex gap-1" style="margin-bottom: 8px;">
            <label class="form-label" style="color: #fff; margin: 0;">Nome:</label>
            <label style="color: #fff; margin: 0;">{{ produto.produto_nome }}</label>
        </div>

        <div class="d-flex justify-content-between align-items-center w-100">
            <a href="/informacao_produto/{{ produto.produto_id }}" class="bi bi-arrow-bar-right text-white"
                style="text-decoration: none;">
                Ver Detalhes
            </a>
            <a href="/produto/editar/{{ produto.produto_id }}" class="bi bi-pencil-square text-white"
                style="text-decoration: none;">
                Editar
            </a>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p style="color: white;">Nenhum resultado encontrado para "{{ q }}".</p>
    {% endif %}
</div>
{% endblock %}