{% extends "base.html" %}

{% block conteudo %}


<!--Tela para resultados da pesquisa-->

<!--Mostra título com o termo pesquisado-->
<h3 class="mb-4 text-start titulo-h3">
    Resultados para: {{ q }}
</h3>


<div class="d-flex flex-wrap justify-content-start gap-4 mt-3">
    <!--Verifica se algum item foi encontrado-->
    {% if pesquisa_item %}
    {% for produto in pesquisa_item %}
    <!--Mostra em formatos de card os itens encontrados-->
    <div class="card card-produto mb-3 text-white backgroud-glass border-radius-menor ">

        <div class="row">
            <label for="imagem_sensor" class="col-4  p-0 upload-box border-radius-menor sensor-cont-img">
                {% if produto.imagem_base64 %}
                <img src="data:{{produto.imagem_tipo}};base64,{{produto.imagem_base64}}"
                    class="border-radius-menor img-sensor">
                {%else%}
                <img src="/static/imagens/medicamento.jpg" class="border-radius-menor img-sensor">
                {%endif%}
            </label>
            <div class="col-8 p-0 ">
                <div class="card-body d-flex gap-1 text-start pb-0">
                    <h5 class="fs-5 titulo-h3">Nome:</h5>
                    <h5 class="card-title fs-6 mt-1">{{produto.produto_nome}}</h5>
                </div>
                <div class="card-body text-start pb-0 pt-0">
                    <a href="/informacao_produto/{{produto.produto_id}}" class="bi bi-arrow-bar-right text-white texto-a">
                        Ver Detalhes
                    </a>
                </div>
                <div class="card-body d-flex  align-items-center gap-3 pt-0">
                    <a class="btn btn-sm btn-link text-danger fs-5 p-0"
                        href="{{url_for('excluir_produto', produto_id=produto.produto_id)}}">
                        <i class="bi bi-trash"></i>
                    </a>
                    <a href="/produto/editar/{{produto.produto_id}}" class="bi bi-pencil text-white texto-a">
                        Editar
                    </a>
                </div>
            </div>
        </div>

    </div>
    <!--Caso não foi encontrado mostra essa mensagem-->
    {% endfor %}
    {% else %}
    <p class="text-white text-center mt-4">Nenhum produto cadastrado</p>
    {% endif %}
</div>

{% endblock %}