{% extends 'base.html'%}
{% block conteudo%}
<h3 class="mb-4 text-start" style="color: white; padding:5px; border-bottom:solid 1px #fff;">Produtos
</h3>


<div class="d-flex flex-wrap justify-content-start" style=" gap: 20px;">
    {%if produtos %}
    {% for produto in produtos %}
    <div class="me-2" style=" border-radius: 15px;background: rgba(255, 255, 255, 0.15); padding: 10px;">
        <label for="imagem_produto" class="upload-box" style="max-height:200px !important; width: 250px; margin-left: 0 !important; align-self: flex-start; z-index: 1000;">
            <img src="data:{{produto.imagem_tipo}};base64,{{produto.imagem_base64}}" 
     style="max-height:200px; width:250px; border-radius:10px; object-fit:cover;">
        </label>
        <div class="d-flex">
            <label class="form-label" style="color: #fff; ">Nome:</label>
            <label for="" class="d-nome" style="color: #fff;">{{produto.produto_nome}}</label>
        </div>
        <div class="d-flex justify-content-between align-items-center w-100">
            <a href="/informacao_produto/{{produto.produto_id}}" class="bi bi-arrow-bar-right text-white"
                style="text-decoration: none;">
                Ver Detalhes
            </a>
            <a href="/produto/editar/{{produto.produto_id}}" class="bi bi-pencil-square text-white"
                style="text-decoration: none;">
                Editar
            </a>
            <a class="btn btn-sm btn-link text-danger"
                href="{{url_for('excluir_produto', produto_id=produto.produto_id)}}">
                <i class="bi bi-trash"></i>
            </a>
        </div>


    </div>


    {% endfor %}
    {% endif %}
</div>
<script>
    localStorage.setItem("produtos", JSON.stringify({
        id: "{{ produtos.produto_id}}",
        nome: "{{produtos.produto_nome}}"
    }))
</script>

{% endblock%}