{% extends 'base.html'%}
{% block conteudo%}

<h3 class="mb-4 text-start" style="color: white; padding:10px; border-bottom:solid 1px #fff;">Relatório</h3>
<div class="d-flex width:10px">

    <div class="me-5" style="width: 450px;">
        <div class="mb-4 position-relative" style=" border-radius: 15px;background: rgba(255, 255, 255, 0.15); 
    padding: 5px;max-width:400px !important; width: 100% !important;height: 250px;">
            <label style=" margin-left: 0 !important; align-self: flex-start; z-index: 1000;">
            </label>
            <h5 class="text-start text-white fw-bold mb-0 ps-2 fs-4" style="position: relative; top: -12px;">Produtos
                <br>Adicionados
            </h5>
            
        </div>

        <div class="position-relative" style=" border-radius: 15px;background: rgba(255, 255, 255, 0.15); 
    padding: 5px;max-width:400px !important; width: 100% !important;height: 250px;">
            <label style=" margin-left: 0 !important; align-self: flex-start; z-index: 1000;">
            </label>
            <h5 class="text-start text-white fw-bold mb-0 ps-2 fs-4" style="position: relative; top: -12px;">Produtos
                <br>Removidos
            </h5>
            
        </div>
    </div>

    <div class="me-5 position-relative" style=" border-radius: 15px;background: rgba(255, 255, 255, 0.15); 
    padding: 5px;max-width:400px !important; width: 100% !important;height: 520px;">    
        <label style=" margin-left: 0 !important; align-self: flex-start; z-index: 1000;">
        </label>
        <h5 class="text-start text-white fw-bold mb-0 ps-2 fs-2" style="position: relative; top: -12px;">Gastos</h5>

        <div class="table-responsive mt-3">
            <table class="table">
                <tr>
                    <th style="width: 500px;"></th>
                    <th class="text-white">Valor unitário</th>
                    <th class="text-white">Quantidade</th>
                    <th class="text-white">total</th>
                    <th></th>
                    <th></th>

                </tr>
                {% for produto in lista_compra %}
                <tr>
                    <th class="text-white fw-normal align-items-start text-start">{{ produto.lista_compra_nome }}</th>
                    <th class="text-white fw-normal">R$ {{ produto.lista_compra_valor }}</th>
                    <th class="text-white fw-normal">{{ produto.lista_compra_quantidade }}</th>
                    <th class="text-white fw-normal">R$ {{ "%.2f"|format(produto.lista_compra_valor *
                        produto.lista_compra_quantidade) }}</th>
                    <td>
                        <a class="btn btn-sm btn-link text-danger"
                            href="{{url_for('excluir_lista_compra_relatorio', lista_compra_id=produto.lista_compra_id)}}">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>

                </tr>
                {% endfor %}
            </table>
        </div>


    </div>


    <div class="col-4 d-flex flex-column gap-3">
        <div class="me-4 " style=" border-radius: 15px;background: rgba(255, 255, 255, 0.15); 
    padding: 5px;max-width:400px !important; width: 100% !important;height: 160px;">
            <h5 class="text-start text-white fw-bold mb-0 ps-4 fs-5">Produtos <br>Vencidos</h5>
            <div class="border border-white rounded-circle d-flex align-items-center justify-content-center border-5 ms-3 mt-3 "
                style="width: 80px; height: 80px;">
                <i class="bi bi-box-seam text-white" style="font-size: 3rem;"></i>
            </div>
        </div>

        <div class="me-4"
            style="border-radius: 15px; background: rgba(255, 255, 255, 0.15); padding: 5px; max-width:400px !important; width: 100% !important; height: 160px;">
            <h5 class="text-start text-white fw-bold mb-0 ps-4 fs-5;">Sensor</h5>
            <div class="d-flex align-items-center gap-3 mt-2 ms-3">
                <div class="border border-white rounded-circle d-flex align-items-center justify-content-center border-5"
                    style="width: 80px; height: 80px; flex-shrink: 0;">
                    <i class="bi bi-thermometer-sun text-white" style="font-size: 3rem;"></i>
                </div>

                <div class="d-flex flex-column">
                    <!-- Mostra a quantidade total de sensores cadastrados -->
                    <label class="form-label mb-0" style="color: #fff; font-size: 0.9rem;">Quantidade Sensores:</label>

                    <label class="form-label mb-0 mt-1" style="color: #fff; font-size: 0.85rem;"></label>
                    <span style="color: #fff; font-size: 1.8rem; font-weight: bold; line-height: 1;">
                        {{ sensor }}
                    </span>
                </div>
            </div>
        </div>



        <!-- Card do Total Estoque (Sempre visível, fora do if) -->
        <div class="me-4"
            style="border-radius: 15px; background: rgba(255, 255, 255, 0.15); padding: 5px; max-width:400px !important; width: 100% !important; height: 160px;">
            <h5 class="text-start text-white fw-bold mb-0 ps-4 fs-5;">Total em Estoque</h5>
            <div class="d-flex align-items-center gap-3 mt-2 ms-3">
                <div class="border border-white rounded-circle d-flex align-items-center justify-content-center border-5"
                    style="width: 80px; height: 80px; flex-shrink: 0;">
                    <i class="bi bi-cart text-white" style="font-size: 3rem;"></i>
                </div>

                <div class="d-flex flex-column">
                    <!-- Mostra a quantidade total de sensores cadastrados -->
                    <label class="form-label mb-0" style="color: #fff; font-size: 0.9rem;">Quantidade Produtos:
                        <strong>{{ sensor }}</strong></label>

                    <label class="form-label mb-0 mt-1" style="color: #fff; font-size: 0.85rem;"></label>
                    <span style="color: #fff; font-size: 1.8rem; font-weight: bold; line-height: 1;">

                    </span>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock%}