{% extends 'base.html'%}
{% block conteudo%}
<div class="d-flex gap-3 w-100">
    <div class="container_inicial_res flex-grow-1">
        <div class="container row ">
            <div class="d-flex gap-3 w-100 primeira_linha_res p-0">
                <div class="position-relative overflow-hidden backgroud-glass border-radius-menor w-50 h-100">

                    {% if categoria_selecionada %} <!--Se a categoria foi escolhida-->
                    <span
                        class="position-absolute card-categoria fw-bold mb-0 display-6 text-center titulo-h3 z-index-10">
                        {{ categoria_selecionada }} <!--Aparece a categoria-->
                    </span>

                    <h5
                        class="fw-bold mb-0 ps-2 display-5 text-center position-relative titulo-h2 z-index-1 card-estoque-valor">
                        {{ total_categoria }} <!--Aparece o total ou quantidade de produtos que tem a categoria escolhida-->
                    </h5>
                    <p class="text-center text-white-50 z-index-1 texto-unidade-estoque">
                        Unidades em Estoque
                    </p>
                    {% else %} <!--Se nenhuma categoria foi escolhida a mensagem aparece-->
                    <h5
                        class="fw-bold mb-0 ps-2 fs-4 text-center texto z-index-1 position-relative titulo-h2 card-estoque-vazio">
                        Nenhum filtro aplicado
                    </h5>
                    {% endif %} <!--Finaliza o if-->

                    <button type="button" data-bs-toggle="modal" data-bs-target="#modalFiltro"
                        class="rounded-circle border-0 d-flex backgroud-glass align-items-center justify-content-center position-absolute top-0 end-0 m-2 z-index-1 back4 botao-filtro-icone">
                        <i class="bi bi-sliders text-white"></i>
                    </button> <!--Botão para o filtro-->
                </div>

                <div class="position-relative overflow-hidden backgroud-glass border-radius-menor w-50 h-100">
                    <label class="label-estoque"></label>
                    <h5
                        class="text-start fw-bold mb-0 ms-3 ps-2 display-5 position-relative z-index-1 titulo-h3 titulo-estoque">
                        Estoque
                    </h5>
                    {%if total_estoque >1%} <!--Se o total em estoque for maior que 1-->
                    <h5 class="fw-bold ps-2 display-3 text-end me-5 position-relative titulo-h2 mt-2 z-index-1 ">
                        {{total_estoque | int}} <!--Aparece a quantidade em estoque em valores inteiros-->
                    </h5>
                    {%else%}<!--Se não tem estoque maior que 1 aparece a mensagem-->
                    <h5 class=" ps-2 display-5 fs-2 text-end me-4 position-relative titulo-h2 mt-2 z-index-1 ">
                        Nada em <br> estoque!
                    </h5>
                    {%endif%}
                </div>

            </div>
            <!--Div que vai organizar as divs que vão conter as informações dos sensores-->
            <div class="mt-3  w-100 card-sensores-container backgroud-glass">
                <label class="label-sensores"></label>

                <div
                    class="px-3 d-flex w-100 mt-1 ms-0 h-50 primeira_linha_card_sensores_container_res justify-content-center gap-3">
                    <div
                        class="position-relative overflow-hidden d-flex flex-column justify-content-end align-items-start   card-luminosidade luminosidade_res">
                        <p class="ms-3 mb-1 fs-2 mt-3 texto-branco position-relative">Luminosidade</p>
                        <h4 class="ms-3 mb-3 fw-bold display-3 texto-branco">300lux</h4>
                    </div>
                    <div
                        class="position-relative overflow-hidden d-flex flex-column align-items-start justify-content-center card-umidade">
                        <p class="ms-3 mb-1 fs-2 mt-3 texto-branco position-relative">Umidade</p>
                        <h4 class="fw-bold display-3 w-50 text-center  texto-branco">20%</h4>
                    </div>
                </div>

                <div class="px-3 d-flex w-100 mt-1 ms-0 h-50 primeira_linha_card_sensores_container_res justify-content-center gap-3">
                    <div
                        class="card-temperatura position-relative overflow-hidden d-flex mt-3  justify-content-between align-items-center">
                        <p class=" fs-2 mt-3 ms-2 texto-branco  temperatura-label">
                            Temperatura</p>
                        <div class=" p-4 temperatura-valor ">
                            <h4 class="fw-bold display-3 mt-2  texto-branco">15°C</h4>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
    <!--Div que guardar o carrossel de produtos-->
    <div class="card-destaque position-relative backgroud-glass ">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <p class="mb-0 ms-2 fs-2 texto-branco">Destaques</p>
        </div>

        {% if produtos %} <!--Se tem produtos acontece o que está em baixo-->

        <div id="card-fantasma-1" class="position-absolute border-radius-menor"></div>
        <div class="position-absolute"></div>
        <div id="carouselVertical" class="carousel slide carousel-vertical border-radius-menor" data-bs-ride="carousel">
            <div class="carousel-inner">
                {%for produto in produtos%} <!--Faz um for nos produtos recebidos pelo app.py-->
                <div class="carousel-item {% if loop.first %}active{% endif %}" data-bs-interval="2000">
                    <div class=" bg-dark p-4">
                        <div class="d-flex justify-content-between align-items-start">
                            <div>
                                <span
                                    class="badge bg-info p-2 d-flex justify-content-center text-dark mb-2 fs-6">{{produto.produto_categoria}}</span>
                                    <!--Mostra a categoria do produto-->
                                <h3 class="text-white fw-bold text-start  text-capitalize">{{produto.produto_nome}}</h3> <!--Mostra o nome do produto-->
                                <p class="text-secondary text-start">Em estoque</p>
                            </div>
                            <div class="produto-imagem-container">
                                {%if produto.imagem_base64%} <!--Se tem imagem cadastrada aparece na tela-->
                                <img src="data:{{produto.imagem_tipo}};base64,{{produto.imagem_base64}}"
                                    class="produto-imagem" alt="imagem do produto">
                                {%else%} <!--Se não tem, aparece uma imagem padrão-->
                                <img src="/static/imagens/medicamento.jpg" class="produto-imagem">
                                {%endif%} <!--finaliza o if-->
                            </div>
                        </div>
                        <div class="produto-info-box p-4 text-start">
                            <p class="text-secondary  mb-1">Id</p>
                            <p class="text-white mb-4">{{produto.produto_id}}</p> <!--Mostra o id do produtp-->
                            <p class="text-secondary mb-1">Quantidade</p>
                            <p class="text-white mb-4">{{ produto.estoque_quantidade | int }}</p> <!--Mostra a quantidade em estoque do produto-->
                            <p class="text-secondary mb-1">Descrição</p>
                            <p class="text-white mb-0">{{produto.produto_descricao}}</p><!--Mostra a descrição do produto-->
                        </div>
                    </div>
                </div>
                {%endfor%}<!--Finalza o for-->
            </div>
        </div>
        {%else%}<!--Se não tem produtos, aparece a mensagem-->
        <h1 class="titulo-h2 text-center">Nenhum produto cadastrado</h1>
        {%endif%}

    </div>
    <!--Form que vai coletar a categoria escolhida para ser usada anteriormente-->
    <form method="POST" action="{{ url_for('inicial') }}">
        <div class="modal fade" id="modalFiltro" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-filtro-dialog">
                <div class="modal-content border-0 modal-filtro-content">
                    <div class="modal-body p-3">
                        <div class="d-flex align-items-center mb-3 modal-filtro-header">
                            <button type="button" data-bs-dismiss="modal" class="botao-fechar-modal"
                                aria-label="botão de sair da aba">
                                <span aria-hidden="true">x</span>
                            </button>
                            <h5 class="text-white fw-semibold mb-0 titulo-modal-filtro">Categorias</h5>
                        </div>
                        <li class="list-style-none item-filtro-categoria">
                            <label for="c3"
                                class="d-flex justify-content-between align-items-center py-3 text-white mb-0 w-100">
                                <span>Vacina</span>
                                <input type="radio" name="categoria" id="c3" value="Vacina" class="filtro-check" {% if
                                    categoria_selecionada=='Vacina' %}checked{% endif %}>
                            </label>
                        </li>
                        <li class="list-style-none item-filtro-categoria">
                            <label for="c4"
                                class="d-flex justify-content-between align-items-center py-3 text-white mb-0 w-100">
                                <span>Antiparasitários</span>
                                <input type="radio" name="categoria" id="c4" value="Antiparasitários"
                                    class="filtro-check" {% if categoria_selecionada=='Antiparasitários' %}checked{%
                                    endif %}>
                            </label>
                        </li>
                        <li class="list-style-none item-filtro-categoria">
                            <label for="c5"
                                class="d-flex justify-content-between align-items-center py-3 text-white mb-0 w-100">
                                <span>Antibióticos</span>
                                <input type="radio" name="categoria" id="c5" value="Antibióticos" class="filtro-check"
                                    {% if categoria_selecionada=='Antibióticos' %}checked{% endif %}>
                            </label>
                        </li>
                        <li class="list-style-none item-filtro-categoria">
                            <label for="c6"
                                class="d-flex justify-content-between align-items-center py-3 text-white mb-0 w-100">
                                <span>Anti-inflamatórios</span>
                                <input type="radio" name="categoria" id="c6" value="Anti-inflamatórios"
                                    class="filtro-check" {% if categoria_selecionada=='Anti-inflamatórios' %}checked{%
                                    endif %}>
                            </label>
                        </li>
                        <li class="list-style-none item-filtro-categoria">
                            <label for="c7"
                                class="d-flex justify-content-between align-items-center py-3 text-white mb-0 w-100">
                                <span>Analgésicos</span>
                                <input type="radio" name="categoria" id="c7" value="Analgésicos" class="filtro-check" {%
                                    if categoria_selecionada=='Analgésicos' %}checked{% endif %}>
                            </label>
                        </li>
                        <li class="list-style-none item-filtro-categoria">
                            <label for="c8"
                                class="d-flex justify-content-between align-items-center py-3 text-white mb-0 w-100">
                                <span>Anestésicos</span>
                                <input type="radio" name="categoria" id="c8" value="Anestésicos" class="filtro-check" {%
                                    if categoria_selecionada=='Anestésicos' %}checked{% endif %}>
                            </label>
                        </li>
                    </div>
                    <div class="modal-footer border-0 pt-0 px-3 pb-3">
                        <button type="submit"
                            class="btn w-100 text-white fw-semibold botao-aplicar-filtro background-verde-medio">
                            Aplicar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}